

.card{
    border-radius: 15px;
}

.color-grey{
    color: #b3b0b0;
}
.color-black{
color: #5a5858;
}

.color-green{
    color: #74b264;
}

.font-primary{
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;  
    color: #5a5858;
}

