<div class="wrapper">
    <div class="col">
        @if (labelName) {
        <label class="m-0 p-0" for="validationCustom01">{{labelName}}</label>
        }
        <div ngbDropdown class="d-inline-block w-100">
            <button type="button" class="btn text-truncate w-100 selected d-flex align-items-center" [id]="id" ngbDropdownToggle>
                {{selectedOption || dropdownLabel || 'Select'}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="option-div p-1">
                @for (option of options; track $index) {
                <button class="options p-1" ngbDropdownItem [id]="option.id" (click)="selectOption(option)">
                    {{option.name}}
                </button>
                }

            </div>
        </div>
    </div>
</div>